/*================================================================================*/
/* 全体のレイアウト*/
html, body {
  height: 100vh; /* 画面の高さを固定 */
  overflow: hidden; /* スクロールを禁止 */
}

/*================================================================================*/
/* フォームのレイアウト*/
.Trial-form {
  width: 100%;
  min-height: 100vh;
}

.Trial-form-backimage {
  background-repeat:  no-repeat;  /* 画像の繰り返しを指定  */              
  width:auto; 
  height:500px;
  position: relative;
  z-index: 1;
}
.Trial-form-backimage .img1 {
  position: absolute;
  top: 0;
  left: 0;
}
.Trial-form-backimage .img2 {
  position: absolute;
  top: 250px;
  right: -50px;
}


.form {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  z-index: 100;
}

.form-area .form-title {
  margin-bottom: 50px;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.form-input .input-title {
  margin-left: 100px;
  margin-right: 100px;
}

.form-input .input-area {
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  font-size: 20px;
  background-color: #fff;
  color: #000;
}


.button-area .sendbtn {
  padding: 10px 15px 10px 15px;
  background-color:#0277BD;
  color: #ffffff;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}