
/*================================================================================*/
/* テーブルアイコン・サブタイトルのレイアウト*/

.table-link-box {
  display: flex;
  align-items: center; /* 垂直方向に中央揃え */
}

.table-link-icon {
  margin: 0 auto;
}

.table-link-text {
  margin-left: 5px;
}

.List-area .SubTitle-area {
  text-align: left;
}

.SubTitle-area h2 {
  margin-top: 50px;
  margin-bottom: 0px;
}


/*================================================================================*/
/* ポップアップのレイアウト*/

/* ======共通部分=======*/
.Popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.PopupClosebtn {
  padding: 0px 7px 0px 7px;
  margin-top: -40px;
  margin-right: 15px;
  color: #ffffff;
  background: #ff0000;
  float: right;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.PopupClosebtn:hover,
.PopupClosebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.Header-title {
  margin-top: 50px;
}
.Popup-button {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* ======新規追加=======*/
.Add-popup {
  width: 450px;
  color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

.Add-popup .addbtn {
  padding: 10px 15px 10px 15px;
  background-color:#0277BD;
  color: #ffffff;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}


/* ======編集=======*/
.Edit-popup {
  width: 450px;
  color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

.Body-element {
  text-align: left;
  margin-left: 80px;
  margin-right: 80px;
}
.Body-element .SubTitle {
  margin-bottom: 0;
}
.Body-element .inputer1 {
  width: 100%;
}

.Edit-popup .Popup-button .editbtn {
  padding: 10px 15px 10px 15px;
  background-color:#0277BD;
  color: #ffffff;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}


/* ======削除=======*/
.Delete-popup {
  width: 450px;
  color: #000;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-shadow: none;
}

.Delete-popup .Popup-button .deletebtn {
  padding: 10px 15px 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 110px;
  background-color:#0277BD;
  color: #ffffff;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}

.Delete-popup .Popup-button .cancelbtn {
  padding: 10px 15px 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 110px;
  background-color:white;
  color: #0277BD;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}


/*================================================================================*/
/* メニューのレイアウト*/

a:-webkit-any-link  {
  text-decoration: none;
}

.menu-area {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  height: 100%;
  background-color:#f5f5f5;
  border-right: 2px solid #000; /* 1px の黒い実線を引く */
}

.link-box {
  display: flex;
  align-items: center; /* 垂直方向に中央揃え */
}

.link-icon {
  margin-left: 50px;
  margin-right: 35px;
}

.link-box h1 {
  color:#000 ;
}

/*================================================================================*/
/* 生徒一覧のレイアウト*/

.AllList {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}


.Title-area .addbtn {
  float: right;
  margin-top: -70px;
  margin-right: 30px;
  padding: 10px 15px 10px 15px;
  background-color:#0277BD;
  color: #ffffff;
  border: 1px solid #0277BD;
  border-radius: 8px;
  letter-spacing: 00.5px;
  cursor: pointer;
}


.button-area {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  /* 要素間の余白 */
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.button-area .SubTitle-area {
  margin-left: 5px;
  width: 100%;
}

.button-area .team-label {
  align-items: center; /* 垂直方向に中央揃え */
  padding: 10px 30px 10px 20px;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 20px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.List-area {
  margin-left: 20px;
  margin-right: 20px;
}
.List-area .SubTitle-area {
  margin-left: 5px;
}

.List-area table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid white;
  font-size: 13px;
}
.List-area th {
  background-color:#0277BD;
  color: white;
}
.List-area tr{
  height: 60px;
  background-color:#F0F0F0;
}

.List-area .editbtn {
  padding: 10px 25px 10px 35px;
  background-color:white;
  color: #4199CD;
  border: 1px solid #4199CD;
  border-radius: 8px;
  letter-spacing: 10px;
  cursor: pointer;
}
.List-area .deletebtn {
  padding: 10px 25px 10px 35px;
  background-color:white;
  color: #FF8383;
  border: 1px solid	#FF8383;
  border-radius: 8px;
  letter-spacing: 10px;
  cursor: pointer;
}


/*================================================================================*/
/* 体験者情報のレイアウト*/

.ExperiencerList {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}



/*================================================================================*/
/* ダッシュボードのレイアウト*/

.Dashboard-List {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}

.List-area .detailbtn {
  padding: 10px 25px 10px 35px;
  background-color:white;
  color: #4199CD;
  border: 1px solid #4199CD;
  border-radius: 8px;
  letter-spacing: 10px;
}

/*================================================================================*/
/* 出席確認のレイアウト*/

.TakeAttendance-List {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}

.List-area .changebtn {
  padding: 10px 8px 10px 8px;
  background-color:white;
  color: #4199CD;
  border: 1px solid #4199CD;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 11px;
  cursor: pointer;
}
.changebtn.active {
  padding: 10px 8px 10px 8px;
  background-color:white;
  color: #FF8383;
  border: 1px solid	#FF8383;
  border-radius: 8px;
  letter-spacing: 0.5px;
  font-size: 11px;
}

/*================================================================================*/
/* 出席データ詳細のレイアウト*/

.Attendance-List {
  position: fixed;
  top: 0;
  left: calc(100% / 3);
  width: calc(100% * 2 / 3);
  height: 100%;
}
